<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/lenis@1.3.18/dist/lenis.min.js"></script>
    <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
  rel="stylesheet"
/>
    <link rel="stylesheet" href="../stylesheets/base.css" />
    <title>Product page</title>
  </head>
  <body>
    <% if(alert.length>0){%>
    <div id="flash-alert"
      class="absolute left-1\2 w-full -translate-x-1\2 -translate-y-1\2 p-3 rounded-md flex justify-center"
    >
      <span
        class="inline-block mt-1 w-80 mb-1 text-black font-extralight center bg-[#fff3cd] rounded-md p-3"
      >
        <%=alert[0]%>
      </span>
    </div>
    <%}%>
    <div class="h-full w-full bg-[#ebecf0]" id="main">
      <div
        class="h-16 text-black flex justify-between pt-5 bg-[#d1d8de] px-10 text-lg font-extralight sticky top-0" id="header"
      >
        <div><h1 class="font-bold text-2xl">Scatch.</h1></div>
        <div class="mx-3 text-xl">
          <a href="/product/cart" class="mx-2 hover:font-medium hover:text-[#35363b]"
            >Cart</a
          >
          <a href="#" class="mx-2 hover:font-medium hover:text-[#35363b]"
            >My account</a
          >
        </div>
      </div>
      <div class="flex">
        <div class="h-screen w-1/6 bg-[#d2a6f5] sticky top-16 text-xl" id="side_bar">
          <div class="h-1/3 text-center pt-15 text-md font-extralight">
            <h1 class="hover:text-[#2c2c2e]"
              >Scatch</h1
            >
          </div>
          <div class="h-2/3 text-center font-extralight pt-5">
            <a href="#" class="inline-block my-2 hover:font-bold"
              >New collections</a
            >
            <br />
            <a href="#" class="inline-block my-2 hover:font-bold"
              >All products</a
            >
            <br />
            <a href="#" class="inline-block my-2 hover:font-bold">Discount</a>
            <br />
            <a href="/product/logout" class="inline-block my-2 hover:font-bold"
              >Logout</a
            >
          </div>
        </div>
        <div class="w-5/6 h-full py-10 px-15 flex flex-wrap gap-5">
          <%products.forEach((product)=>{%>
            <div class="h-70 w-50 bg-[<%=product.backgroundColor%>]" id="single_content">
              <a href="/product/bag/<%=product._id%>">
                <div class="h-6/8 overflow-hidden object-cover">
                  <img 
                    src="data:<%= product.contentType %>;base64,<%= product.productImageBase64 %>" 
                    alt="product image" 
                  />
                </div>
              </a>  
            <div class="h-2/8 font-light text-sm pl-5 pt-1  text-[<%=product.textColor%>] bg-[<%=product.panelColor%>] flex justify-between">
              <div class="text-lg">
                <h1><%=product.productName%></h1>
                <h1> &#8377 <%=product.productPrice - product.discount%></h1>
              </div>
              <a href="/product/addToCart/<%=product._id%>" class="mt-2 mr-2 pl-1" >
                <%if(!userdata.cart.includes(product._id)){%>
                  <i class="bg-zinc-600 cursor-pointer hover:bg-zinc-700 p-1 rounded-full ri-add-large-line"
                  title="Add to Cart"></i>
                  
                <%}else{%>
                  <i class=" bg-zinc-600 cursor-pointer hover:bg-zinc-700 p-1 rounded-full  ri-check-fill"
                  title="Added to Cart"></i>
                <%}%>
              </a>
            </div>
          </div>
          <%})%>
          
        </div>
      </div>
    </div>
    <script>
  // Auto-hide after 5 seconds
    setTimeout(function() {
      const alert = document.getElementById("flash-alert");
      if (alert) {
        alert.style.transition = "opacity 0.5s ease"; // smooth fade
        alert.style.opacity = "0";
        setTimeout(() => alert.remove(), 500); // remove from DOM after fade
      }
    }, 1000);
    //lenis
    const lenis = new Lenis({
  autoRaf: true,
  });
lenis.on('scroll', (e) => {
  console.log(e);
});
  </script>
  </body>
</html>
