<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
  rel="stylesheet"
/>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="stylesheet" href="../stylesheets/base.css" />
    <title>product view</title>
  </head>
  <body>
    <% if(alert.length>0){%>
    <div id="flash-alert"
      class="absolute left-1\2 w-full -translate-x-1\2 -translate-y-1\2 p-3 rounded-md flex justify-center"
    >
      <span
        class="inline-block mt-1 w-80 mb-1 text-black font-extralight center bg-[#fff3cd] rounded-md p-3"
      >
        <%=alert[0]%>
      </span>
    </div>
    <%}%>
    <div class="h-screen w-full bg-[#ebecf0]">
      <div
        class="h-16 text-black flex justify-between pt-5 bg-[#d1d8de] px-10 text-lg font-extralight" id="header"
      >
        <div><h1 class="font-bold">Scatch.</h1></div>
        <div class="mx-3">
          <a href="/product/home" class="mx-2 hover:font-medium hover:text-[#35363b]"
            >Home</a
          >
          <a href="/product/cart" class="mx-2 hover:font-medium hover:text-[#35363b]"
            >Cart</a
          >
          <a href="#" class="mx-2 hover:font-medium hover:text-[#35363b]"
            >My account</a
          >
        </div>
      </div>
      <div class="flex w-full font-roboto font-light text-black flex">
        <!-- <div class="w-full border h-100">helo</div> -->
        <div class="w-3/10">
          <div
            class="max-h-70 max-w-60 ml-10 mt-20 h-auto w-auto overflow-hidden"
          >
            <img src="<%=imageSrc%>" alt="product image" class="rounded" />
          </div>
        </div>
        <div class="w-7/10 pl-20 pt-20">
          <div>
            <h1 class="text-3xl pb-5"><%=product.productName%></h1>
            <br />
            <div class="flex gap-20 pb-5">
              <h1 class="text-xl font-light">Product price : <%=product.productPrice%> &#8377</h1>
              <h1 class="text-xl font-light">Discount on product : <%=product.discount%> &#8377</h1>
            </div>
            <br />
            <h1 class="text-xl font-light pb-5">Net selling price : <%=product.productPrice - product.discount%> &#8377</h1>
            <br />
            <a
              href="/product/addToCart/<%=product._id%>"
              class="bg-[#727a17] text-md px-15 rounded-xl hover:bg-[#99a60f] py-2 mr-25"
              >Add to Cart</a
            >
            <button
              class="bg-[#3ba9ff] text-md px-15 rounded-xl hover:bg-[#68b3ed] py-2 cursor-pointer" id="rzp-button2"
              >Buy now</button
            >
          </div>
        </div>
      </div>
    </div>
    <script>
      var options = {
    "key": "rzp_test_SJ5ZWZ31Gc83co", // Enter the Key ID generated from the Dashboard
    "amount": <%=(product.productPrice - product.discount)*100%>,
    "currency": "INR",
    "description": "Acme Corp",
    "image": "example.com/image/rzp.jpg",
    "prefill":
    {
      "email": "rahulsingh1.unstoppable@gmail.com",
      "contact": 9813228008,
    },
    config: {
      display: {
        blocks: {
          utib: { //name for Axis block
            name: "Pay Using Axis Bank",
            instruments: [
              {
                method: "card",
                issuers: ["UTIB"]
              },
              {
                method: "netbanking",
                banks: ["UTIB"]
              },
            ]
          },
          other: { //  name for other block
            name: "Other Payment Methods",
            instruments: [
              {
                method: "card",
                issuers: ["ICIC"]
              },
              {
                method: 'netbanking',
              }
            ]
          }
        },
        sequence: ["block.utib", "block.other"],
        preferences: {
          show_default_blocks: true // Should Checkout show its default blocks?
        }
      }
    },
    "handler": function (response) {
      alert(response.razorpay_payment_id);
    },
    "modal": {
      "ondismiss": function () {
        if (confirm("Are you sure, you want to close the form?")) {
          txt = "You pressed OK!";
          console.log("Checkout form closed by the user");
        } else {
          txt = "You pressed Cancel!";
          console.log("Complete the Payment")
        }
      }
    }
  };
  var rzp1 = new Razorpay(options);
  document.getElementById('rzp-button2').onclick = function (e) {
    rzp1.open();
    e.preventDefault();
  }







  // Auto-hide after 5 seconds
    setTimeout(function() {
      const alert = document.getElementById("flash-alert");
      if (alert) {
        alert.style.transition = "opacity 0.5s ease"; // smooth fade
        alert.style.opacity = "0";
        setTimeout(() => alert.remove(), 500); // remove from DOM after fade
      }
    }, 1000);
  </script>
  </body>
</html>
